.header {
  background: #343A40;
  height: 100px;
}
.footer {
  background: #343A40;
  color: white;
  height: 100px;
  padding-top: 50px;
}

.header h1 {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  color: #212529;
  font-size: 3rem;
}

.body {

  background-color: #343A40;
  
}

.card {

  background-color: #212529;
  color: #343A40;
}

.contactFrom {
  margin: 50px;
  padding-top: 20px;
  text-align: left;
  background: #343A40;

}

.nav-item {

  background: #343A40;
  
}
.container {

  background: #343A40;
  
}
#root {

  background: #343A40;
  color: white;
  margin: 50px;
  padding: 40px;
  
}

.photo {
  height: 200px;
  width: 200px;
}

.photoContainer {
  height: 200px;
  width: 200px;
}