.header {
  background: #343A40;
  height: 140px;
}
.footer {
  background: #343A40;
  color: white;
  padding-right: 20px;
  height: 100px;
  padding-top: 50px;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  
  /* color: #212529; */
  font-size: 3rem;
}

.body {

  background-color: #343A40;
  
}

.card {

  background-color: #212529;
  color: White;
}

.card-body{
  color: Black;
}

.contactFrom {
 
  padding-top: 20px;
  text-align: left;
  background: #343A40;

}

.nav-item {

  background: #343A40;
  
}
.container {

  background: #343A40;
  
}
#root {

  display: flex;
  background: #343A40;
  color: white;
  margin: 50px;
  padding: 40px;
  
}

.photo {
  height: 200px;
  width: 200px;
}

.ContactInfo{
  /* margin: 50px; */
  padding: 10px;
}

.photoContainer {
  height: 200px;
  width: 200px;
}